body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#nav {
  display: flex;
}

.logo {
  display: inline-block;
  color: brown;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 38px;
  margin-right: auto;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

ul > li {
  display: inline-block;
}

.navlink {
  text-decoration: none;
  color: black;

  padding: 0 30px;
  display: block;
}

.nav-link {
  color: black !important;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* card text */
.card-text:hover {
  background-color: burlywood;
}

/* listing shop beds button */
.butn {
  cursor: pointer;
  border: 2px solid grey;
  background-color: transparent;
  text-decoration: none;
  padding: 0.3rem 1rem;
  color: goldenrod;
}
.butn:hover {
  background-color: wheat;
}

/* register form css */
.App {
  font-family: sans-serif;
  text-align: center;
}
/* css for lealflet maps */
.leaflet-container {
  width: 97%;
  height: 100vh;
  margin-left: 25px;
}

.h1 {
  color: black;
  font-size: 10px;
  padding-bottom: 0px;
}

.form {
  max-width: 800px;
}

select,
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.label,
section > label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

input[type="submit"],
.button {
  background: brown;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 10px;
  /* font-size: 16px; */
  /* font-weight: 100; */
  /* display: block; */
  /* appearance: none; */
  /* border-radius: 10px; */
  /* width: 100%; */
  font-weight: lighter;
  transition: 0.3s all;
}

.buttonBlack {
  background: black;
  border: 1px solid white;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

button[type="button"] {
  padding: 5px;
  background: #516391;
  color: white;
  letter-spacing: 0px;
  text-transform: none;
  padding: 10px;
  letter-spacing: 1px;
}

input[type="submit"]:hover,
button[type="button"]:hover {
  background: #bf1650;
  color: white;
}

input[type="submit"]:active {
  transition: 0.3s all;
  top: 2px;
}

.loginFormError {
  color: red;
}

.registerFormError {
  color: red;
}

/* end of register form css */

/* mobile responsive */
/* 0 to 768px */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  #caseImgUrl {
    flex-shrink: 100;
    -webkit-flex-shrink: 0;
    padding-top: 20px;
    height: auto !important;
    max-width: 100vw !important;
    background-size: "cover";
  }

  .compName {
    font-size: 15px;
    margin-top: 10px;
  }

  .main-logo {
    font-size: 10px;
    margin-top: 10px;
  }

  .navbar {
    padding-top: 15px !important;
    padding-right: 10px !important;
  }
  .navbar-toggler {
    padding: 5px !important;
    background-color: transparent !important;
  }

  .navbar-toggler-icon {
    margin-right: 10px !important;
  }
  .navlink {
    display: flex !important;
    justify-content: end;
  }

  #navbarDropdown {
    display: none;
  }

  .logoutPage {
    width: 980px !important;
  }

  .cart-icon {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    padding-top: 10px;
  }

  .user {
    flex-direction: column;
    margin: 0 !important;
    margin-left: 40px !important;
  }
  .userSection {
    width: 2px !important;
    margin-left: 110px !important;
  }
  .aboutSection {
    font-size: 20px;
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: 5px !important;
    margin-bottom: 10px !important;
  }

  .wallBedImgCatalogue {

    display: none;
  }

  .indi-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .accountSection {
    width: 90% !important;
  }

  .accountBody {
    width: 100% !important;
    font-size: 10px !important;
    margin-left: 2px !important;
  }

  .mainUserContainer {
    margin: 0 !important;
  }
  .usertitle {
    display: none;
  }

  .animated {
    display: none;
  }

  .cartImg {
    width:250px !important;
    margin-left: 20px !important;
  }
  .cartBody {
    flex-direction: column !important;
    
  }

  .cartQuantity {
    margin-left: 0 !important;
  }
  .cartBedName {
    font-size: 15px !important;
    text-align: center !important;
  }
  .card-img-top {
    max-width: 100vw !important;
    height: auto !important;
  }

  .card-all-cases {
    flex-direction: column;
    align-items: center;
  }

  .card-group-all-cases {
    text-align: center;
  }

  .leaflet-container {
    width: 90%;
    height: 50vh;
    margin-left: 16px ;
  }

  /* .navbar-nav > li > a {
    background-color: rgb(44, 125, 160);
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 30px 10px !important;
  } */


  #logo {
    margin: 0;
    padding: 10px 10px;
  }

  #flexContainer {
    flex-direction: column;
  }

  .d-block {
    width: 100% !important;
    height: auto !important;
    background-size: cover !important;
    background-position: center !important;
  }
}
/* end of mobile css */

/* css for background colour of reports section */
.title4 {
  background-color: rgb(202, 233, 255);
  padding-top: 20px;
}

/* css for background colour of reports section */
.container-lg {
  background-color: rgb(202, 233, 255);
}

/* css for heart icons ratings from font awesome */
.fa {
  color: black;
  padding: 4em;
}

.rating {
  display: inline-block;
  font-size: 2.5em;
  color: rgb(177, 167, 166);
  padding: 0 5px;
}

#ratingReport {
  float: right;
}

.rating input {
  display: none;
}

.rating label {
  transition: all 0.2s;
  margin: 0;
  float: right;
}

/* heart icons ratings css */
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: rgba(250, 0, 0, 0.753);
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: rgba(255, 77, 109);
}

/* flex the heart icons in ratings in featured contents and for the search
/* results */
.reviewFlex {
  display: flex;
  justify-content: space-between;
}
