body{
  margin:0;
  padding:0;
  /* background-color:black; */
  width: 100%;
  }
  
  #nav{
    /* background-color: black; */
    display: flex;
  
  }
  
 
  .logo{
    display: inline-block;
    color: brown;
    /* line-height:2; */
    /* background-color:#14213D; */
    /* width:814px; */
    height:60px;
    display: flex;
    justify-content: center;
    font-size: 38px;
    margin-right: auto;
    
  }

  /* .main-logo{
    padding: 10px;
  } */
  


  ul{
    margin:0;
    padding:0;
    /* background-color: black; */
    /* display: flex; */
  }

  
  ul>li{
    display: inline-block;
    /* margin-top: 20px; */
    
  
  }

  /* .nav-link dropdown-toggle{
    padding:0 !important
  } */
  
  .navlink{
    /* background-color: black; */
    text-decoration: none;
    color: black;
    padding:0 30px;
    display:block; 
  }

  .nav-link{
    color: black !important;
    
  }
  
  

  /* .navlink:hover{
    
    background: burlywood;
    height:30px;
  
  } */

  .nav-item:hover .dropdown-menu{ display: block; }

  
  /* register form css */
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    background: #0e101c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    color: white;
    padding: 0 20px 50px;
  }
  
  .h1 {
    /* margin-top: 80px; */
    color: black;
    font-size: 10px;
    padding-bottom: 0px;
  }
  
  .form {
    max-width: 800px;
    
  }
  
  /* .p {
    color: burlywood;
    text-align: center;
  } */
  
  select,
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .label,
  section > label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
  
  input[type="submit"],
  .button {
    /* position: relative; */
    background: brown;
    color: white;
    text-transform: uppercase;
    text-align:center;
    border: none;
    /* margin-top: 20px; */
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    /* letter-spacing: 4px; */
    display: block;
    appearance: none;
    border-radius: 10px;
    width: 100%;
    font-weight: lighter;
    transition: 0.3s all;
  }
  
  .buttonBlack {
    background: black;
    border: 1px solid white;
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  
  button[type="button"] {
    padding: 5px;
    background: #516391;
    color: white;
    letter-spacing: 0px;
    text-transform: none;
    padding: 10px;
    letter-spacing: 1px;
  }
  
  input[type="submit"]:hover,
  button[type="button"]:hover {
    background: #bf1650;
    color: white;
  }
  
  input[type="submit"]:active {
    transition: 0.3s all;
    top: 2px;
  }


  /* end of register form css */




/* mobile responsive */
/* 0 to 768px */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  #caseImgUrl {
    flex-shrink: 100;
    -webkit-flex-shrink: 0;
    padding-top: 20px;
    height: auto !important;
    max-width: 100vw !important;
    background-size: "cover";
  }

  .card-img-top {
    max-width: 100vw !important;
    height: auto !important;
  }

  .card-all-cases {
    flex-direction: column;

    align-items: center;
  }

  .card-group-all-cases {
    text-align: center;
  }

  .navbar-nav > li > a {
    background-color: rgb(44, 125, 160);
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 30px 10px !important;
  }

  #infowords {
    padding: 10px 10px !important;
  }

  .buttonsAllCases {
    flex-direction: row !important;
    gap: 0 5px !important;
  }

  .title {
    margin-top: 50px;
    position: absolute;
    background-color: lightskyblue;
    opacity: 0.96;
    border-radius: 20px;
    border: 10px;
    padding: 10px;
    width: 100vw;
  }

  .title3 {
    width: 100vw !important;
  }

  .title5 {
    width: 100vw !important;
  }

  .table {
    font-size: 8px;
  }

  #pagename {
    font-size: 20px;
    padding-left: 5px;
  }

  #logo {
    margin: 0;
    padding: 10px 10px;
  }

  #flexContainer {
    flex-direction: column;
  }

  .d-block {
    width: 100% !important;
    height: auto !important;
    background-size: cover !important;
    background-position: center !important;
  }

  nav-link {
    padding: 0 !important;
    text-align: center !important;
  }

  .rating {
    display: inline !important;
    font-size: 1em !important;
    margin-right: 5px !important;
    padding: 0 !important;
  }

  h5 {
    font-size: 15px !important;
  }

  .images > img {
    display: none;
  }

  .searchbtn {
    margin-right: 5px !important;
    padding-right: 15px;
  }
}
/* end of mobile css */

/* css for background colour of reports section */
.title4 {
  background-color: rgb(202, 233, 255);
  padding-top: 20px;
}

/* css for background colour of reports section */
.container-lg {
  background-color: rgb(202, 233, 255);
}

/* css for heart icons ratings from font awesome */
.fa {
  color: black;
  padding: 4em;
}

.rating {
  display: inline-block;
  font-size: 2.5em;
  color: rgb(177, 167, 166);
  padding: 0 5px;
}

#ratingReport {
  float: right;
}

.rating input {
  display: none;
}

.rating label {
  transition: all 0.2s;
  margin: 0;
  float: right;
}

/* heart icons ratings css */
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: rgba(250, 0, 0, 0.753);
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: rgba(255, 77, 109);
}

/* flex the heart icons in ratings in featured contents and for the search
/* results */
.reviewFlex {
  display: flex;
  justify-content: space-between;
}
